*{
margin: 0;   
padding: 0;
box-sizing: border-box;
}

.game-title{
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.score{
    padding-left: 5px;
}

.title-container{
    text-align: center;
    color: white;
    font-size: 40px;
}

.top{
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: solid 2px black;
    border-bottom: none;
}

/* .difficult-container{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 300px;
    padding-right: 5px;
} */

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 200px;
}

.card-container{
    /* display: grid; */
    /* grid-template-columns: repeat(6, auto); */
    /* grid-template-rows: auto; */
    /* justify-items: center; */
    border: solid 2px black;
    /* padding: 10px 0; */
    /* grid-row-gap: 10px; */
}

/* .card{ */
/*     width: 100px;
    height: 150px;
    border: solid 1px black;
    background-color: rgb(212, 212, 212); */
/* } */

/* .turned{
    background-image: url(/Card.png);
    background-size: cover;
} */

.new-button{
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

.footer{
    display: grid;
    justify-items: center;
    align-self: center;
    padding: 10px 0;
}

/* --------- */

.grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 0 auto;
    grid-template-rows: auto;
    justify-items: center;
    padding: 10px 0;
    grid-row-gap: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
  }
  
  .card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
  }
  
  .card,
  .back,
  .front {
    height: 150px;
    width: 150px;
  }
  
  .back,
  .front {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    z-index: 2;
    background: #FAB942 url('/baksida.png') no-repeat center center / contain;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
/*   .selected {
    transform: rotateY(180deg);
  } */

  .turned {
    transform: rotateY(180deg);
  }
  
  .match .front {
    background: #6589F9 !important;
  }